header {
  background-color: rgba(6, 12, 34, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1c77ac;
}
/* Styling the navigation bar */
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* Styling the brand name (Sarajevo) */
.navbar-brand {
  margin-left: 20px; /* Space from the left edge */
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

/* Container for navigation links */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: larger;
}

/* Styling the navigation links */
.navbar-nav li {
  padding: 8px;
  margin-right: 40px; /* Space between the menu items */
  margin-right: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: red;
}

footer {
  background-color: rgb(1, 1, 40);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  margin-bottom: 10px;
}

.social-link {
  display: inline-block;
  margin: 0 5px;
}

.social-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p {
  margin: 10px 0 0;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: crimson;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: crimson;
}

div {
  border-radius: 5px;

  padding: 20px;
}
h1 {
  text-align: center;
  text-size-adjust: 200px;
}
