header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: left;
  margin: 0%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}
/* Styling the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* Styling the brand name (Sarajevo) */
.navbar-brand {
  margin-left: 20px; /* Space from the left edge */
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

/* Container for navigation links */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

/* Styling the navigation links */
.navbar-nav li {
  margin-right: 40px; /* Space between the menu items */
  margin-right: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: red;
}

footer {
  background-color: var(--footer-color);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.social-links {
  margin-bottom: 10px;
}

.social-link {
  display: inline-block;
  margin: 0 5px;
}

.social-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p {
  margin: 10px 0 0;
}

#icon {
  width: 25px;
  cursor: pointer;
}

:root {
  --primary-color: hsla(0, 0%, 100%, 0.251);
  --secondary-color: hwb(0 50% 50%);
  --footer-color: #464663;
}

.dark-theme {
  --primary-color: rgba(6, 12, 34, 0.8);
  --secondary-color: #1c77ac;
  --footer-color: rgb(1, 1, 40);
}

.moreinfo img {
  padding-left: 50px;
}

.container1 {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */

  background-color: white;
  width: auto;
}
.text {
  font-size: auto;
  padding-left: 50px;
}

.image1 {
  max-width: 200%;
}

.text p {
  width: 400px;
}
