header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}
/* Styling the navigation bar */
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/* Styling the brand name (Sarajevo) */
.navbar-brand {
  margin-left: 20px; /* Space from the left edge */
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

/* Container for navigation links */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

/* Styling the navigation links */
.navbar-nav li {
  margin-right: 40px; /* Space between the menu items */
  margin-right: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  color: red;
}

#intro {
  width: 100%;
  height: 100vh;
  background-image: url(images/Sarajevo_City_Panorama.jpg.jpeg);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  text-align: center;
  padding: 0 15px;
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro h1 span {
  color: #f82249;
}

#intro p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

/*ABOUT*/

#about {
  background: var(--primary-color);
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 70px;
}

#about h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about p {
  padding: 40;
  font-size: 25px;
  margin: 20px;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--footer-color);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.social-links {
  margin-bottom: 10px;
}

.social-link {
  display: inline-block;
  margin: 0 5px;
}

.social-link img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p {
  margin: 10px 0 0;
}

.faq-section {
  max-width: 600px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 10px;
  border-radius: 5px;
}

.faq-item :hover {
  color: #f82249;
}

.faq-content :hover {
  color: #000;
}

.faq-toggle {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.faq-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fafafa;
}

.faq-content p {
  color: #000;
}

h2 {
  align-items: center;
}

#faq {
  background: var(--primary-color);
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 70px;
}

#faq h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.custom-hr {
  border: none; /* Remove the default border */
  border-top: 0.5px solid #000; /* Add a custom border on top */
  margin: 0px 0; /* Add some space around the line */
}

#icon {
  width: 25px;
  cursor: pointer;
}

:root {
  --primary-color: hsla(0, 0%, 100%, 0.251);
  --secondary-color: hwb(0 50% 50%);
  --footer-color: #464663;
}

.dark-theme {
  --primary-color: rgba(6, 12, 34, 0.8);
  --secondary-color: #1c77ac;
  --footer-color: rgb(1, 1, 40);
}

/* Comments Section Styles */
#comments {
  background: #f9f9f9;
  padding: 10px 0;
  width: auto;
  align-items: center;

  border: 5px solid;
  margin-right: auto;
  margin-left: auto;
}

#comments h2 {
  margin-bottom: 30px;
}

#comment-form {
  margin-bottom: 30px;
}

#comment-form div {
  margin-bottom: 15px;
}

#comment-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#comment-form input,
#comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#comment-form button {
  background: #f82249;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

#comment-form button:hover {
  background: #e01140;
}

.comment {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.comment p {
  margin: 0;
}

.comment strong {
  color: #f82249;
}

.map-container {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.map-container iframe {
  width: 1100px;
  height: 450px;
  border: 0;
}
